/* ---------------------- */
/* --- Cores Partidos --- */
/* ---------------------- */

.almg-css_partido-sempartido {
	background-color: #999;
    color: #fff !important;
}

.almg-css_partido-PRP {
	background-color:#FFD333 !important;
	color:#0258A8 !important;
}

.almg-css_partido-PRTB {
	background-color:#e8bf18 !important;
	color:#094027 !important;
}

.almg-css_partido-SOLIDARIEDADE {
	background-color:#1e1848 !important;
	color:#f36f24 !important;
}

.almg-css_partido-PSL {
	background-color:#eae9dc !important;
	color:#044c84 !important;
}

.almg-css_partido-DC {
	background-color:#34408b !important;
	color:#ffde6a !important;
}

.almg-css_partido-NOVO {
	background-color:#ed7021 !important;
	color:#fff !important;
}

.almg-css_partido-PATRIOTA {
	background-color:#eae9dc !important;
	color:#4d8913 !important;
}

.almg-css_partido-PSOL {
	background-color:#ffde6a !important;
	color:#c72100 !important;
}


.almg-css_partido-AVANTE {
	background-color:#ED5F36 !important;
	color:#fff !important;
}

.almg-css_partido-PTN {
	background-color:#007ebd !important;
	color:#fff !important;
}

.almg-css_partido-PMN {

	background-color:#da010a !important;
	color:#fff !important;
}

.almg-css_partido-DEM {
	background-color:#0c4ca3 !important;
	color:#fff !important;
}

.almg-css_partido-PC_DO_B, .almg-css_partido-PCdoB { /* WS de producao nao tem espaços no nome do partido, logo o template nao faz replace de espaços por underline */
	background-color:#da251c !important;
	color:#fff !important;
}

.almg-css_partido-PDT {
	background-color:#003b93 !important;
	color:#fff !important;
}

.almg-css_partido-PEN {
	background-color:#43841d !important;
	color:#ffee02 !important;
}

.almg-css_partido-PHS {
	background-color:#ff5f1f !important;
	color:#fecc00 !important;
}

.almg-css_partido-MDB {
	background-color:#e50000 !important;
	color:#ffd600 !important;
}

.almg-css_partido-PP {
	background-color:#00acdd !important;
	color:#fff !important;
}

.almg-css_partido-PPS {
	background-color:#da251c !important;
	color:#fff500 !important;
}

.almg-css_partido-PR,
.almg-css_partido-PL {
	background-color:#015aaa !important;
	color:#fed304 !important;
}

.almg-css_partido-PRB {
	background-color:#01a5bd !important;
	color:#fff !important;
}

.almg-css_partido-PROS {
	background-color:#f68126 !important;
	color:#242063 !important;
}

.almg-css_partido-PSB {
	background-color:#ffee04 !important;
	color:#e62925 !important;
}

.almg-css_partido-PSC {
	background-color:#416f53 !important;
	color:#8affa9 !important;
}

.almg-css_partido-PSD {
	background-color:#14387f !important;
	color:#9cd439 !important;
}

.almg-css_partido-PSDB {
	background-color:#0058ac !important;
	color:#fecc02 !important;
}

.almg-css_partido-PT {
	background-color:#ca2029 !important;
	color:#fff !important;
}

.almg-css_partido-PT_DO_B, .almg-css_partido-PTdoB { /* WS de producao nao tem espaços no nome do partido, logo o template nao faz replace de espaços por underline */
	background-color:#f2ea41 !important;
	color:#075f00 !important;
}

.almg-css_partido-PTB {
	background-color:#e32f2d !important;
	color:#000 !important;
}

.almg-css_partido-PTC {
	background-color:#2a4275 !important;
	color:#fff !important;
}

.almg-css_partido-PV {
	background-color:#00652e !important;
	color:#fff !important;
}

.almg-css_partido-REDE {
	background-color:#319d8b !important;
	color:#fff !important;
}

.almg-css_partido-PODE {
	background-color:#3c89c9 !important;
	color:#fff !important;
}

.almg-css_partido-PSDC {
	background-color:#dfbb50 !important;
	color:#1e256e !important;
}

.almg-css_partido-REPUBLICANOS {
	background-color:#0059af !important;
	color:#ffc500 !important;
}

.almg-css_partido-CIDADANIA {
	background-color:#00c7ae !important;
	color:#fff !important;
}

.almg-css_partido-UNIÃO {
	background-color:#254aa5 !important;
	color:#fbc707 !important;
}