mark{
	/*width: max-content;*/
	background-size: 200% auto; 
	background-image: linear-gradient(to right,#fff 50%,#ecc 50%);
	background-position: 0% 0;
	animation-duration: 1.2s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
mark.active{
   animation-name: highlight;
}
@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}